.rodape {
    background-color: burlywood;
}

.pilha {
    background-color: coral;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 55rem;
}

 .caixa-principal {
    background-color: burlywood;
    box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    width: 45rem;
    height: 50rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    color: black;
 }


